<!DOCTYPE html>
<html>
   <head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="static/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/main.css") />

    <title>{{ title }}</title>
    <style> 
      p{margin:2px 0} 
    </style> 
      {% from utils import utc2local %}
   </head>

   <body class="eye_process_body" id="center" >
     <div class="eye_process_head">
          <p><a href="/">主页</a> 当前用户: {{current_user['username']}}, 想要<a href="/logout">登出</a>？</p>
          <form id="formtypes" action="/browse" method="get">
              <input type="radio" name="types" value="1" {% if types== "1" %} checked="checked" {% end %} >最新</input>
              <input type="radio" name="types" value="0" {% if types== "0" %} checked="checked" {% end %} >喜欢</input>
              <input type="radio" name="types" value="2" {% if types== "2" %} checked="checked" {% end %} >讨厌</input>
              ，浏览第
              <select name="page" id="page">
              {% for i in range(int(page_num)) %}
                  <option value={{ repr(i) }} {% if page == repr(i) %} selected {% end %} >{{ repr(i) }}</option>
              {% end %}
              </select>
              页
          </form>
      </div>
    
    <script type="text/javascript">

    $('input[type=radio][name=types]').on('change', function() {
        $('#page').get(0).options[0].selected = true
        this.form.submit();
    });

   jQuery(function() {
        jQuery('#page').change(function() {
         this.form.submit();
      });
    });

    function valueMe(myRadio) {
        $.ajax({
          url:'/score',
          type:'POST',
          data: { "news_uuid": myRadio.name, "score": myRadio.value },
          success:function(){
            //alert("Update:" + myRadio.name + " OK!");
            //
            // 刷新页面
            $('form[id=formtypes]').submit();
          }
      });
    }
    </script>

<br/>
{% for item in items %}
   <div class="news_item">
      <span class="title_info"><a href={{ item['news_link'] }} target="_blank">{{ item['news_title'] }}</a>　<a target="_blank" href={% raw "/cache?id="+repr(item['news_uuid']) %}>页面快照</a></span>
      <form>
        <p class="item_info">发布时间：{{ item['news_pubtime'] }}, 文章来源:{{ item['news_sitefrom'] }}</p> 
        <p>点评:
            <input type="radio" name={{ item['news_uuid'] }} value="0" onclick="valueMe(this);" {% if item['news_score'] == 0 %} checked="checked" {% end %}>点赞</input>
            <input type="radio" name={{ item['news_uuid'] }} value="2" onclick="valueMe(this);" {% if item['news_score'] == 2 %} checked="checked" {% end %}>踩一脚</input>
        </p>
      </form>
      <div>{% raw item['news_desc'][:500] %}</div>
  </div>
  <br/>
{% end %}


</body>
</html>
