<!DOCTYPE html>
<html>
   <head>
    <meta charset=utf-8>
    <title>{{ title }}</title>
    <script type="text/javascript" src="static/jquery-2.2.4.min.js"></script>
    <style> 
      p{margin:2px 0} 
    </style> 
      {% from utils import utc2local %}
   </head>

   <body>
<p><a href="/">主页</a> 当前用户: {{current_user['username']}}, 想要<a href="/logout">登出</a>？</p>
<form id="formtypes" action="/browse" method="get">
    <input type="radio" name="types" value="1" {% if types== "1" %} checked="checked" {% end %} >最新</input>
    <input type="radio" name="types" value="0" {% if types== "0" %} checked="checked" {% end %} >喜欢</input>
    <input type="radio" name="types" value="2" {% if types== "2" %} checked="checked" {% end %} >讨厌</input>
    ，浏览第
    <select name="page" id="page">
    {% for i in range(int(page_num)) %}
        <option value={{ repr(i) }} {% if page == repr(i) %} selected {% end %} >{{ repr(i) }}</option>
    {% end %}
    </select>
    页
</form>
    
    <script type="text/javascript">

    $('input[type=radio][name=types]').on('change', function() {
        $('#page').get(0).options[0].selected = true
        this.form.submit();
    });

   jQuery(function() {
        jQuery('#page').change(function() {
         this.form.submit();
      });
    });

    function valueMe(myRadio) {
        $.ajax({
          url:'/score',
          type:'POST',
          data: { "news_uuid": myRadio.name, "score": myRadio.value },
          success:function(){
            //alert("Update:" + myRadio.name + " OK!");
            //
            // 刷新页面
            $('form[id=formtypes]').submit();
          }
      });
    }
    </script>

     <ul style="line-height: 100%">
     {% for item in items %}
         <li>
            <span style="bold"><a href={{ item['news_link'] }} target="_blank">{{ item['news_title'] }}</span></a>
         </li>
           <form>
		   <p>发布时间：{{ item['news_pubtime'] }}, 文章来源:{{ item['news_sitefrom'] }}, 点评:
            <input type="radio" name={{ item['news_uuid'] }} value="0" onclick="valueMe(this);" {% if item['news_score'] == 0 %} checked="checked" {% end %}>赞</input>
            <input type="radio" name={{ item['news_uuid'] }} value="2" onclick="valueMe(this);" {% if item['news_score'] == 2 %} checked="checked" {% end %}>踩</input>
           </form>
        </p>
         <div>{% raw item['news_desc'] %}</div>
         <br/><br/>
     {% end %}
    </ul>


   </body>
 </html>
