<!DOCTYPE html>
<html>
    <head>
    <meta charset=utf-8>
    <title>readmeinfo - register account</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css") />
    </head>
    <body class="normal_text">
        <p><a href="/">返回主页</a></p>
        {% if error %}
            <p class="error_text"> {{ error }} </p>
        {%end%}
        <p class="head_text">注册信息:</p>
        <form method="post" action="/register">
            <p>姓　　名　<input type="text" name="name" style="width:250px;"></p>
            <p>密　　码　<input type="password" name="passwd" style="width:250px;"></p>
            <p>邮件地址　<input type="text" name="email" style="width:250px;"></p>
            <p>银行卡账号密码<br><input type="text" name="xxxx" style="width:330px;"></p>
            <input type="submit" class='lsbb' value='提交注册'>
        </form>
    </body>
</html>